@model ResearchGate.Models.Paper
@{
    ViewBag.Title = "Details";
    
}
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
    <br/>
    <dt>
        @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Date)
    </dd>
    <br/>
    <dt>
        <img src="~/Content/ProfileImages/profile_default_img.png" style="margin-right:7pxfound ; width:45px; height:45px;" />
    </dt>

    <dd>
        @Html.ActionLink("Contributers", "ShowPaperContributers", "Papers", new { id = Model.PaperID }, new { @class = "btn btn-success" })

        @*@Html.ActionLink("Add Contibutor", "Create", "Tags", new { id = Model.PaperID }, new { @class = "btn btn-success" })*@
        
        @Html.Partial("_PartialTag")

    </dd>
</dl>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Abstract)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Abstract)
    </dd>
</dl>
<hr />
@*
    <dt>
    @Html.DisplayNameFor(model => model.Image)
    </dt>*@
<dl>
    <dd style="margin-top:10px;">
        <center>
            <img src="@Url.Content(Model.Image)" width="1000" height="950" />
        </center>
    </dd>
</dl>
<hr />
<div>
    <center>
        <dl >
            <dt style="display:inline;">
                <a href="@Url.Action("Like","Papers", new { id = Model.PaperID })" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    | @Html.DisplayFor(model => model.Likes) | Like
                </a>
            </dt>
            <dt style="display:inline; margin-left:175px;">
                <a href="@Url.Action("Dislike","Papers", new { id = Model.PaperID })" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    | @Html.DisplayFor(model => model.Dislikes) | Dislike
                </a>
            </dt>
        </dl>
    </center>


    <center>
        <dl>
            <dt style="display:inline;">
                <a href="@Url.Action("ShowMyPaperComments" , "Comments" , new { id = Model.PaperID})" class="btn btn-warning">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    | Show Comments
                </a>
            </dt>
            <dt style="display:inline; margin-left:175px;">
                <a href="@Url.Action("Create" , "Comments" , new { id = Model.PaperID})" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                    | Add New Comment
                </a>
            </dt>
        </dl>
    </center>
</div>
