@model IEnumerable<ResearchGate.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Commnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Commnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paper.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommID })
        </td>
    </tr>
}

</table>
