@model IEnumerable<ResearchGate.Models.Comment>



@{
    ViewBag.Title = "MyPaper_ID_Comment";
}


<div class="container">
    @foreach (var item in Model)
    {
        <div class="card border-secondary mb-3" style="max-width: 18rem; display:inline;">
            <hr />
            <div class="card-header" style="font-family:sans-serif;font-size:large;font:bolder">@Html.DisplayFor(modelItem => item.Paper.Title)</div>
            <hr />
            <div class="card-body text-secondary">
                <h5 class="card-title" style="font-family: Georgia, serif;font-size:large;font:bolder">Name : @Html.DisplayFor(model => item.Author.FirstName) @Html.DisplayFor(model => item.Author.LastName)</h5>
                <p class="card-text" style="font-family: Georgia, serif;font-size:large;font:bolder" >Comment : @Html.DisplayFor(modelItem => item.Commnt)</p>
                <hr />
            </div>
        </div>
    }
</div>

@foreach (var item in Model)
{
    <tr>

        <td>
            <a href="@Url.Action("Create", "Comments", new { id = item.Paper.PaperID })" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
                Add New Comment
            </a>
        </td>
    </tr>
    break;
}
