<<<<<<< HEAD
﻿@model ResearchGate.Models.Tag

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tag</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AuthID, "AuthID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("AuthID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PapID, "PapID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PapID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PapID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
=======
﻿@model ResearchGate.Models.Tag
@{
                /**/

                ViewBag.Title = "Create";
}
<style>
    body {
        font-family: montserrt;
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        background: linear-gradient(120deg,#7FFFD4,#008B8B)
    }



    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        height:400px;
        background: #FFFAF0;
        border-radius: 10px;
    }




    input[type="submit"] {
    
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #2691d9;
        border-radius: 25px;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        align-self: center;
    }

    .center h4 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }

        input[type="submit"]:hover {
            border-color: #2691d9;
            transition: .5s;
        }

   

</style>










@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="center">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div style="text-align:center">
        <h2>Please Choose Contributed Authors n This Paper</h2>
    </div>
    <div style="text-align:center;
                   padding-left: 40px;
                   padding-top: 50px;">
        @Html.DropDownList("AuthID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AuthID, "", new { @class = "text-danger" })
    </div>
        <div style="text-align:center;
                        padding-top:80px;">
            <input type="submit" value="Create" />
        </div>
    </div>
    }
>>>>>>> origin/abdelrhmanNabil
